$green: #40916c;
$lime: #d8f3dc;
$brown: #b5838d;
$beige: #ffb4a2;

body {
    margin: 0;
    padding: 0;
}

.leaflet-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.MuiSlider-markLabel {
    color: white !important;
    transform: scale(1.2);
}

.menuButton {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reloadButton {
    @extend .menuButton;
    background-color: $green;
}

.reloadIcon {
    color: $lime;
    transform: scale(1.5);
}

.helpButton {
    @extend .menuButton;
    background-color: $brown;
}

.helpIcon {
    color: $beige;
    transform: scale(1.5);
}

.MuiDrawer-paperAnchorBottom {
    background-color: #357592 !important;
    color: white !important;
}

.MuiDivider-root {
    background-color: white !important;
}