body {
    margin: 0;
    padding: 0;
}

.leaflet-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.MuiSlider-markLabel {
    color: white !important;
    transform: scale(1.2);
}

.reloadButton {
    background-color: #40916c;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reloadIcon {
    color: #d8f3dc;
    transform: scale(1.5)
}